<!DOCTYPE html>
<html>
  <head>
    <title>Boitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    
    <header>
      <div class = "header_left">
        <img src = "1_Primary_logo_on_transparent_281x67.png">
      </div>
        
      <div class = "header_right">
        <ul class = "header_list">
          <%= link_to "ログイン", "/user/login" %>
          <a data-method="post" href="/user/logout">ログアウト</a>
          <%= link_to "新規会員登録", "/user/signup" %>
        </ul>
      </div>
    </header>
    
    <%= yield %>
  </body>
</html>
